.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 37px;

 

    &__nav {
        a {
            color: #fff;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            text-decoration: none;
            
            &:not(:last-child){
                margin-right: 70px;
            }
        }
    }
}