.crypto{
    &__title{
        font-weight: 800;
        font-size: 64px;
        line-height: 74px;
        color: #fff;
        text-transform: capitalize;
        text-align: center;

    }
    &__paragraph{
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #fff;
        text-align: center;

    }

    
}